.select__trigger {
  --uno: inline-flex outline-0 rounded items-center justify-between px-2 border-1  border-slate-200 transition-color;
  width: 200px;
  font-size: 16px;
  line-height: 1;
  height: 40px;
}
.select__trigger:hover {
  --uno: border-slate-400 ;
}

.select__trigger[data-invalid] {
  /* border-color: hsl(0 72% 51%); */
  --uno: text-rose border-rose;
}
.select__value {
  --uno: truncate;
}
.select__value[data-placeholder-shown] {
  --uno: text-slate-300 italic;
}
.select__icon {
  --uno: text-slate-500
  flex: 0 0 20px;
}
.select__description {
  margin-top: 8px;
  color: hsl(240 5% 26%);
  font-size: 12px;
  user-select: none;
}
.select__error-message {
  margin-top: 8px;
  color: hsl(0 72% 51%);
  font-size: 12px;
  user-select: none;
}
.select__content {
  --uno: bg-white/50 backdrop-blur-sm rounded border-1 border-primary shadow-lg animated animated-fade-out-down animated-faster;
  animation-fill-mode: forwards;
  /* transform-origin: var(--kb-select-content-transform-origin);
  animation: contentHide 250ms ease-in forwards; */
}

.select__content[data-expanded] {
  --uno: animated animated-fade-in-up animated-faster;
  /* animation: contentShow 250ms ease-out; */
}
.select__listbox {
  overflow-y: auto;
  max-height: 360px;
  padding: 8px;
}
.select__item {
  font-size: 16px;
  line-height: 1;
  color: hsl(240 4% 16%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0 8px;
  position: relative;
  user-select: none;
  outline: none;

  & .select__item-indicator {
    --uno: text-primary; 
  }
}
.select__item[data-disabled] {
  --uno: text-slate-300 opacity-50;
  pointer-events: none;
}
.select__item[data-highlighted] {
  --uno: outline-0 bg-primary text-white;

  & .select__item-indicator {
    --uno: text-white; 
  }
 
}
.select__section {
  padding: 8px 0 0 8px;
  font-size: 14px;
  line-height: 32px;
  color: hsl(240 4% 46%);
}



